# This is the list of {{PROJECT_NAME}} authors for copyright purposes.
#
# Source files carry the collective notice "Copyright (c) {{YEAR}} The {{PROJECT_NAME}}
# Authors" — this file records the individuals and entities that make up that
# collective. Each contributor retains copyright over their contributions,
# licensed to the project under the Apache License, Version 2.0 (see LICENSE).
#
# Contributors: add your name (and optionally email/handle) in the same commit
# as your first contribution, sorted by first appearance. This is authorship,
# not copyright assignment.

{{AUTHOR_NAME}} <{{AUTHOR_EMAIL}}> ({{AUTHOR_URL}})
